<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Books</title>
</head>
<body>
    <h1>Add Books</h1>
    <form method="POST">
    {% csrf_token %}
    Title: <input name="title"><br>
    Author: <input name="author"><br>
    Price: <input name="price" type="number" step="0.01"><br>
    Quantity: <input name="quantity" type="number"><br>
    <button type="submit">Save</button>
    </form>
    <p><a href="{% url 'book_list' %}">Back to Library</a></p>
</body>
</html>